{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VMT1991-Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
    
      

   {% include 'my_blog/base_navg.html' %}
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/post-by-topic.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>My Blog</h1>
            <span class="subheading">VMT1991's Blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
   
    <div class="row">
      <div class="col-lg-10 col-md-16 mx-auto">
      
          <div class="alert alert-success">
          Post in Topic "{{ topic.title }}"
        </div>

            {% for post in posts %}
            <div class="post-preview">
          <a href="{% url 'my_blog:post' post.id %}">
            <h2 class="post-title">
             {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
             {{ blog.description }}
            </h3>
          </a>
          <p class="post-meta">Posted by
         
            on {{ post.date|date:'d M Y' }}</p>
        </div>
        <hr>
        {% endfor %}
     
     {% if posts.has_other_pages %}
        
         <ul class="pagination">
          
    {% if posts.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} |  <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a  class="page-link" href="?page={{ i }}">{{ i }} | </a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li class="page-item"><a  class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>

        {% endif %}
        <!-- Pager -->
       
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
{% include 'my_blog/base_footer.html' %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>
